/* avast, matey, acquire ye compass */
/* =================================================================
style reset - https://github.com/necolas/normalize.css
================================================================= */
/* line 35, src/menu.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 37, src/menu.scss */
a:active, a:focus, a:hover {
  outline: 0;
}

/* line 38, src/menu.scss */
abbr {
  border-bottom: 1px dotted;
}

/* line 39, src/menu.scss */
b, strong {
  font-weight: bold;
}

/* line 40, src/menu.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 41, src/menu.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 42, src/menu.scss */
button, input {
  line-height: normal;
}

/* line 43, src/menu.scss */
button, select {
  text-transform: none;
}

/* line 44, src/menu.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 45, src/menu.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 46, src/menu.scss */
[hidden] {
  display: none;
}

/* line 47, src/menu.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 48, src/menu.scss */
img {
  border: 0;
}

/* line 49, src/menu.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 50, src/menu.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 51, src/menu.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 52, src/menu.scss */
small {
  font-size: 80%;
}

/* line 53, src/menu.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 54, src/menu.scss */
sub {
  bottom: -0.25em;
}

/* line 55, src/menu.scss */
sup {
  top: -0.5em;
}

/* line 56, src/menu.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 57, src/menu.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 58, src/menu.scss */
ul, ol, li {
  margin: 0;
  padding: 0;
}

/* =================================================================
basic structure
================================================================= */
/* line 63, src/menu.scss */
body {
  background: #e31836;
  min-height: 100%;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 74, src/menu.scss */
header {
  background: #ae122a;
  padding: 20px;
  position: relative;
  text-align: center;
}
/* line 79, src/menu.scss */
header a {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 850px) {
  /* line 74, src/menu.scss */
  header {
    background: none;
    height: 2.5em;
  }
}
/* line 87, src/menu.scss */
header #secondary-nav {
  float: right;
  font-size: .92em;
  line-height: .92em;
  list-style: none;
}
/* line 92, src/menu.scss */
header #secondary-nav li {
  float: left;
}
/* line 94, src/menu.scss */
header #secondary-nav li:last-child a {
  padding-right: 0;
}
/* line 98, src/menu.scss */
header #secondary-nav a {
  border-left: 1px solid #fff;
  display: inline-block;
  padding: 0 10px;
}

@media (min-width: 850px) {
  /* line 105, src/menu.scss */
  #logo {
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
  }
}

/* line 110, src/menu.scss */
#skip-to-nav {
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  left: 20px;
  height: 30px;
  top: 1.08em;
  width: 30px;
}
/* line 116, src/menu.scss */
#skip-to-nav:before {
  border-bottom: 0.25em solid white;
  border-top: 0.75em double white;
  content: "";
  height: 0.25em;
  left: 0;
  position: absolute;
  top: 0.25em;
  width: 2em;
}
@media (min-width: 850px) {
  /* line 110, src/menu.scss */
  #skip-to-nav {
    height: 0;
    width: 0;
  }
  /* line 129, src/menu.scss */
  #skip-to-nav:before {
    display: none;
  }
}

/* line 134, src/menu.scss */
#outer-wrap {
  overflow: hidden;
}

@media (min-width: 850px) {
  /* line 137, src/menu.scss */
  #inner-wrap {
    position: static;
    width: auto;
  }
}

/* line 143, src/menu.scss */
.js #inner-wrap {
  float: right;
  min-height: 100%;
  width: 100%;
}
@media (min-width: 850px) {
  /* line 143, src/menu.scss */
  .js #inner-wrap {
    position: static;
    width: auto;
  }
}

/* line 152, src/menu.scss */
main {
  padding: 15px;
  max-width: 1200px;
}
@media (min-width: 850px) {
  /* line 152, src/menu.scss */
  main {
    padding-left: 225px;
  }
}
@media (min-width: 1050px) {
  /* line 152, src/menu.scss */
  main {
    padding-left: 21.5%;
  }
}

/* line 162, src/menu.scss */
article {
  background: #fff;
}

/* line 165, src/menu.scss */
aside {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.5em 0 0;
  overflow: hidden;
}
/* line 170, src/menu.scss */
aside section {
  background: #fff;
  margin-bottom: 1em;
  overflow: hidden;
}
/* line 174, src/menu.scss */
aside section:last-child {
  margin-bottom: 0;
}
@media (min-width: 450px) {
  /* line 170, src/menu.scss */
  aside section {
    float: left;
    width: 48.5%;
  }
  /* line 180, src/menu.scss */
  aside section:nth-child(odd) {
    margin-right: 3%;
  }
}
@media (min-width: 625px) {
  /* line 170, src/menu.scss */
  aside section {
    margin-right: 2%;
    width: 32%;
  }
  /* line 187, src/menu.scss */
  aside section:nth-child(odd) {
    margin-right: 2%;
  }
  /* line 190, src/menu.scss */
  aside section:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 170, src/menu.scss */
  aside section {
    margin-right: 1.333%;
    width: 24%;
  }
  /* line 197, src/menu.scss */
  aside section:nth-child(odd) {
    margin-right: 1.333%;
  }
  /* line 200, src/menu.scss */
  aside section:nth-child(3n+3) {
    margin-right: 1.333%;
  }
  /* line 203, src/menu.scss */
  aside section:nth-child(4n+4) {
    margin-right: 0;
  }
}
/* line 209, src/menu.scss */
aside h2, aside h3, aside p {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 214, src/menu.scss */
aside p {
  margin: 0;
  min-height: 4em;
}
/* line 219, src/menu.scss */
aside img {
  width: 100%;
}

/* line 223, src/menu.scss */
.banner {
  margin: 0 -15px 1em;
  position: relative;
}
@media (min-width: 850px) {
  /* line 223, src/menu.scss */
  .banner {
    margin-left: -210px;
    margin-right: auto;
  }
  /* line 229, src/menu.scss */
  .banner:before {
    background: url(../img/banner-cheater.png) no-repeat top left;
    background-size: auto 100%;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 112px;
    z-index: 2;
  }
}
/* line 242, src/menu.scss */
.banner img {
  display: block;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* =================================================================
nav
================================================================= */
/* line 255, src/menu.scss */
nav {
  background: #f7f3f0;
  overflow-x: hidden;
  top: 0;
}
@media (min-width: 850px) {
  /* line 255, src/menu.scss */
  nav {
    background: rgba(174, 18, 42, 0.8);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .92em;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 210px;
    z-index: 3;
  }
}
@media (min-width: 1050px) {
  /* line 255, src/menu.scss */
  nav {
    width: 20%;
  }
}
/* line 273, src/menu.scss */
nav a {
  border-bottom: 1px solid #d1cdca;
  display: block;
  text-decoration: none;
}
@media (min-width: 850px) {
  /* line 273, src/menu.scss */
  nav a {
    border: 0;
  }
}
/* line 281, src/menu.scss */
nav ul {
  list-style: none;
}
/* line 284, src/menu.scss */
nav #main-nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
@media (min-width: 850px) {
  /* line 284, src/menu.scss */
  nav #main-nav {
    box-shadow: none;
    border-bottom: 4px solid #ae122a;
    padding-bottom: 10px;
  }
}
/* line 293, src/menu.scss */
nav #main-nav a {
  color: #103c73;
  padding: 7px 10px;
}
@media (min-width: 850px) {
  /* line 293, src/menu.scss */
  nav #main-nav a {
    color: #fff;
    padding: 7px 15px;
  }
}
/* line 301, src/menu.scss */
nav #main-nav #nav-home {
  border-top: 1px solid #d1cdca;
}
@media (min-width: 850px) {
  /* line 301, src/menu.scss */
  nav #main-nav #nav-home {
    border: 0;
    position: relative;
    margin-top: 7em;
  }
  /* line 307, src/menu.scss */
  nav #main-nav #nav-home:before {
    background: url(../img/logo.png) no-repeat 0 3em;
    content: '';
    display: block;
    height: 5em;
    position: absolute;
    top: -7.75em;
    width: 100%;
  }
}
/* line 319, src/menu.scss */
nav .parent {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 850px) {
  /* line 319, src/menu.scss */
  nav .parent {
    box-shadow: none;
  }
}
/* line 325, src/menu.scss */
nav .child {
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2);
}
@media (min-width: 850px) {
  /* line 325, src/menu.scss */
  nav .child {
    box-shadow: none;
  }
}
/* line 331, src/menu.scss */
nav #secondary-nav {
  position: relative;
  z-index: 1;
}
/* line 335, src/menu.scss */
nav #secondary-nav a, nav #main-nav .child a {
  color: #7c6a5c;
  font-size: .92em;
  padding: 9px 2em 9px 10px;
  position: relative;
}
/* line 340, src/menu.scss */
nav #secondary-nav a:after, nav #main-nav .child a:after {
  border-color: transparent transparent transparent #7c6a5c;
  border-style: solid;
  border-width: 6px 9px;
  content: "";
  display: block;
  height: 0;
  margin-top: -4.5px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
}
@media (min-width: 850px) {
  /* line 335, src/menu.scss */
  nav #secondary-nav a, nav #main-nav .child a {
    color: #fff;
    font-size: .92em;
  }
  /* line 356, src/menu.scss */
  nav #secondary-nav a:after, nav #main-nav .child a:after {
    display: none;
  }
}
@media (min-width: 850px) {
  /* line 361, src/menu.scss */
  nav #secondary-nav {
    padding: 5px 0;
  }
  /* line 364, src/menu.scss */
  nav #secondary-nav a {
    padding: 3px 10px;
  }
}
@media (min-width: 850px) {
  /* line 369, src/menu.scss */
  nav #main-nav .child a {
    padding: 3px 10px 3px 2em;
  }
}

/* line 375, src/menu.scss */
#home nav #nav-home {
  background-color: #e4dfdb;
}
@media (min-width: 850px) {
  /* line 375, src/menu.scss */
  #home nav #nav-home {
    background-color: transparent;
    font-weight: bold;
  }
}

/* line 383, src/menu.scss */
.js nav {
  float: left;
  height: 100%;
  margin-left: -210px;
  position: absolute;
  width: 210px;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 850px) {
  /* line 383, src/menu.scss */
  .js nav {
    float: none;
    left: 0;
    margin-left: 0;
    overflow: hidden;
    position: absolute;
  }
}
@media (min-width: 1050px) {
  /* line 383, src/menu.scss */
  .js nav {
    width: 20%;
  }
}
/* line 400, src/menu.scss */
.js nav .parent {
  box-shadow: none;
}
/* line 403, src/menu.scss */
.js nav .child {
  position: absolute;
  left: -420px;
}
/* line 408, src/menu.scss */
.js nav .open .parent {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 850px) {
  /* line 408, src/menu.scss */
  .js nav .open .parent {
    box-shadow: none;
  }
}
/* line 414, src/menu.scss */
.js nav .open .child {
  display: none;
  position: static;
}
@media (min-width: 850px) {
  /* line 419, src/menu.scss */
  .js nav #main-nav {
    border-bottom: none;
  }
}

/* line 425, src/menu.scss */
.js .menu-open {
  overflow-x: hidden;
}
/* line 427, src/menu.scss */
.js .menu-open nav, .js .menu-open #inner-wrap {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
@media (min-width: 850px) {
  /* line 427, src/menu.scss */
  .js .menu-open nav, .js .menu-open #inner-wrap {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
}
/* line 433, src/menu.scss */
.js .menu-open #inner-wrap {
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  height: 100%;
  margin-right: -210px;
  position: relative;
  z-index: 2;
}
/* line 440, src/menu.scss */
.js .menu-open nav {
  margin-left: 0;
  z-index: 1;
}

/* line 445, src/menu.scss */
.js .menu-closing {
  overflow-x: hidden;
}
/* line 447, src/menu.scss */
.js .menu-closing nav, .js .menu-closing #inner-wrap {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
@media (min-width: 850px) {
  /* line 447, src/menu.scss */
  .js .menu-closing nav, .js .menu-closing #inner-wrap {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
}

/* =================================================================
tab content
================================================================= */
/* line 458, src/menu.scss */
.tab-nav {
  list-style: none;
}
/* line 460, src/menu.scss */
.tab-nav .tab-link {
  background: rgba(174, 18, 42, 0.8);
  color: #fff;
  display: block;
  font-size: 1.25em;
  outline: none;
  padding: 5px 10px;
  text-decoration: none;
}

/* line 470, src/menu.scss */
.tab-panel {
  background: #fff;
  padding: 1em 10px;
  outline: none;
  overflow: hidden;
}
/* line 476, src/menu.scss */
.tab-panel h1 {
  font-size: 1.25em;
  margin: 0 0 .5em;
}
/* line 480, src/menu.scss */
.tab-panel p {
  margin: 0 0 1em;
}
/* line 482, src/menu.scss */
.tab-panel p:last-child {
  margin-bottom: 0;
}

@media (min-width: 850px) {
  /* line 488, src/menu.scss */
  .js .tab-nav {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    height: 3em;
    padding: 0 20px;
    position: relative;
    width: 100%;
  }
}
/* line 497, src/menu.scss */
.js .tab-nav .tab-link {
  background: none;
  color: #555;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 501, src/menu.scss */
.js .tab-nav .tab-link:after {
  content: '+';
  float: right;
}
/* line 505, src/menu.scss */
.js .tab-nav .tab-link:hover, .js .tab-nav .tab-link:focus {
  color: rgba(174, 18, 42, 0.8);
}
@media (min-width: 850px) {
  /* line 497, src/menu.scss */
  .js .tab-nav .tab-link {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .83em;
    padding: 5px 10px;
    text-align: center;
  }
  /* line 513, src/menu.scss */
  .js .tab-nav .tab-link:after {
    display: none;
  }
}
@media (min-width: 1100px) {
  /* line 497, src/menu.scss */
  .js .tab-nav .tab-link {
    font-size: 1em;
  }
}
@media (min-width: 850px) {
  /* line 521, src/menu.scss */
  .js .tab-nav li {
    display: table-cell;
    padding: 0 10px;
    vertical-align: bottom;
  }
}
@media (min-width: 850px) {
  /* line 528, src/menu.scss */
  .js .tab-nav .expanded {
    background: rgba(174, 18, 42, 0.8);
  }
}
/* line 532, src/menu.scss */
.js .tab-nav .expanded .tab-link {
  background: rgba(174, 18, 42, 0.8);
  color: #fff;
}
/* line 535, src/menu.scss */
.js .tab-nav .expanded .tab-link:after {
  content: '-';
}
/* line 538, src/menu.scss */
.js .tab-nav .expanded .tab-link:hover, .js .tab-nav .expanded .tab-link:focus {
  color: #fff;
}
@media (min-width: 850px) {
  /* line 532, src/menu.scss */
  .js .tab-nav .expanded .tab-link {
    background: none;
  }
}
/* line 545, src/menu.scss */
.js .tab-nav .expanded .tab-panel {
  display: none;
  position: static;
}
/* line 551, src/menu.scss */
.js .tab-panel {
  position: absolute;
  top: -100em;
}
/* line 554, src/menu.scss */
.js .tab-panel.open-panel {
  position: static;
}
