// *** Shared Rules and Best Practices ***

* {
box-sizing: border-box;
}

a {

	&.external {
	background: url(data:image/gif;base64,R0lGODlhCgAKAJECAP///5mZmQAAAAAAACH5BAEAAAIALAAAAAAKAAoAAAIalIMZJgH/1gGJqugQpFzH7TlWJVJMGZ0KwhQAOw==)center right no-repeat;
	padding-right: 14px;

		&:hover, &:focus {
		background: url(data:image/gif;base64,R0lGODlhCgAKAJECAP///2eIpAAAAAAAACH5BAEAAAIALAAAAAAKAAoAAAIalIMZJgH/1gGJqugQpFzH7TlWJVJMGZ0KwhQAOw==)center right no-repeat;
		}

	}

}

/* Common Media Properties */

img, video, object {
display: block;
max-width: 100%;
}

/* Common Form Properties */

label {
cursor: pointer;
}

input[type="text"], input[type="search"], input[type="email"], input[type="button"], input[type="submit"], button {
border-radius: 0;
-webkit-appearance: none;
-moz-appearance: none;
}

/* Page messages */

.alert {
color: #c00;
font-style: italic;
text-decoration: none;
}

// Smooth Scale

body, img {

	transition: all .2s linear;

}