<ul>
  <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/component/test/color-blindness-achromatomaly.js">Achromatomaly</button></li>
  <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/component/test/color-blindness-achromatopsia.js">Achromatopsia (Grayscale)</button></li>
  <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/component/test/color-blindness-deuteranomaly.js">Deuteranomaly</button></li>
  <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/component/test/color-blindness-deuteranopia.js">Deuteranopia (Green-Blind, Most Common)</button></li>
  <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/component/test/color-blindness-protanomaly.js">Protanomaly</button></li>
  <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/component/test/color-blindness-protanopia.js">Protanopia (Red-Blind, Most Common)</button></li>
  <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/component/test/color-blindness-tritanopia.js">Tritanopia (Blue-Blind)</button></li>
</ul>

<p><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/component/test/color-blindness-clear.js">Clear Color</button>
