// Global Elements

html, body {
height: 100%;
}

body {
background-color: map-get($palette, color-4);
background-image: url("../img/bg-tile.png");
}

a {
color: map-get($palette, color-2);
transition: all .2s ease-in-out;
text-decoration: none;

	&:hover {
	text-decoration: underline;
	}

	&:visited {
	color: map-get($palette, color-12);
	}

}

@import "includes/animation", "layout/header", "layout/toc", "layout/content", "core/syntax", "layout/footer", "includes/shame";
