<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="canonical" href="https://{{ site.url }}{{ page.url }}" />
	
	{% include secure.html %}
	
  	<link rel="stylesheet" href="/assets/css/global.css"/>
	<link rel="shortcut icon" href="/favicon.ico"/>
  	<title>TMP Worldwide - {{ page.title }}</title>
</head>

<body id="{{page.url | replace:'.html',''| replace: '/', '-' | remove_first: '-'}}"{% if page.section %} class="{{ page.section }}"{% endif %}>
