
<nav aria-label="Primary" id="main-navigation">

  <ul>
      <li><a href="/a11y/" id="nav-a11y">Accessibility at Radancy</a></li>
      <li><a href="/a11y/baseline/" id="nav-a11y-baseline">Accessibility Testing Baselines</a></li>
      <li><a href="/component-library/" id="nav-component-library">Component Library</a></li>
      <li><a href="/uid/photoshop-guidelines/" id="nav-uid-photoshop-guidelines">Photoshop Guidelines</a></li>
      <li><a href="/uid/code-standards/" id="nav-uid-code-standards">User Interface Standards and Guidelines</a></li>
  </ul>

</nav>
