/* Keyframe Animations */

@-webkit-keyframes branding-iron {

	0% {

		transform: rotate(-10deg) scale(9999);

	}

	100% {

		transform: rotate(-10deg) scale(1);

	}

}

@-moz-keyframes branding-iron {

	0% {

		transform: rotate(-10deg) scale(9999);

	}

	100% {

		transform: rotate(-10deg) scale(1);

	}

}

@-ms-keyframes branding-iron {

	0% {

		transform: rotate(-10deg) scale(9999);

	}

	100% {

		transform: rotate(-10deg) scale(1);

	}

}

@keyframes branding-iron {

	0% {

		transform: rotate(-10deg) scale(9999);

	}

	100% {

		transform: rotate(-10deg) scale(1);

	}

}
