/*!

  Floating Labels Example

  Contributor(s):
  Michael "Spell" Spellacy

  sass --watch init.scss:../../media/2021-06-18-floating-labels/init.css --style compressed

*/

// Example 1: Inner Float

.inner-float {

  .search-form-container {

    @media (min-width: 64em) {

      display: grid;
      gap: 0.625em;
      grid-template-columns: repeat(4, 1fr);

    }

    .search-form-item {
    border: 1px #6F00EF solid;
    margin: 1em 0;
    position: relative;
    }

    label {
    display: block;
    font-size: 16px;
    inset-block-start: 50%;
    inset-inline-start: 20px;
    line-height: normal;
    margin: 0;
    position: absolute;
    transform: translateY(-50%);
    transition: all .2s ease;
    z-index: 1;
    }

    input, select {
    border: 0;
    font-size: 1.25rem;
    height: 100%;
    width: 100%;
  
      &:not([type="submit"]) {
      background-color: transparent;
      display: block;
      margin: 0;
      padding: 30px 20px 10px;
      position: relative;
    
        &:focus ~ label, &:valid ~ label {
        font-size: 13px;
        inset-block-start: 14px;
        }

        &:focus {
        background-color: lightgoldenrodyellow;
        }

      }

      &[type="submit"] {
      background-color: #6F00EF;
      color: #fff;
      padding: 1em;
      }

    }

  }

}

// Example 2: Outer Float

.outer-float {

  .search-form-container {

    @media (min-width: 64em) {

      display: grid;
      gap: 0.625em;
      grid-template-columns: repeat(4, 1fr);

    }

    .search-form-item {
    border: 1px #6F00EF solid;
    margin: 40px 0;
    position: relative;
    }

    label {
    display: block;
    font-size: 16px;
    inset-block-start: 50%;
    inset-inline-start: 20px;
    line-height: normal;
    margin: 0;
    position: absolute;
    transform: translateY(-50%);
    transition: all .2s ease;
    z-index: 1;
    }

    input, select {
    border: 0;
    font-size: 1.25rem;
    height: 100%;
    width: 100%;
  
      &:not([type="submit"]) {
      background-color: transparent;
      display: block;
      margin: 0;
      padding: 20px;
      position: relative;
    
        &:focus ~ label, &:valid ~ label {
        font-size: 13px;
        inset-block-start: -18px;
        }

        &:focus {
        background-color: lightgoldenrodyellow;
        }

      }

      &[type="submit"] {
      background-color: #6F00EF;
      color: #fff;
      padding: 1em;
      }

    }

  }

}

// Example 3: Outer Float (JS)

.outer-float-js {
  
  .search-form-container {
  
    @media (min-width: 64em) {
  
      display: grid;
      gap: 0.625em;
      grid-template-columns: repeat(4, 1fr);
  
    }
  
    .search-form-item {
    border: 1px #6F00EF solid;
    margin: 40px 0;
    position: relative;

      &:has([disabled]) {
      border-color: #808080;
      }

      &:has([disabled] ~ label) {
      color: #808080;
      }

    }
  
    label {
    display: block;
    font-size: 16px;
    inset-block-start: 50%;
    inset-inline-start: 20px;
    line-height: normal;
    margin: 0;
    position: absolute;
    transform: translateY(-50%);
    transition: all .2s ease;
    z-index: 1;
    }
  
    input, select {
    border: 0;
    font-size: 1.25rem;
    height: 100%;
    width: 100%;
    
      &:not([type="submit"]), select {
      background-color: transparent;
      display: block;
      margin: 0;
      padding: 20px;
      position: relative;

        &.has-text, &.has-focus {
        color: inherit;
  
          ~ label {
            font-size: 13px;
            inset-block-start: -18px;
  
          }
  
        }

        &.has-focus {
        background-color: lightgoldenrodyellow;
        }
      
      }
  
      &[type="submit"] {
      background-color: #6F00EF;
      color: #fff;
      padding: 1em;
      }
  
    }

    select {
    color: transparent; // HACK: This is so that the select text does not show up _behind_ the label. Hacky hack is hacky. Wondering if SEO red flag?

      &[disabled], &[disabled] ~ label {
      cursor: not-allowed;
      }

    }
  
  }
  
}