---
author: Michael Spellacy (Spell)
date: "2021-08-05 00:48:34"
disclosure: true
email: michael.spellacy@radancy.com
img: https://www.gravatar.com/avatar/89e429d4a3effa9601cd19a851c0003e.jpg
layout: micropubpost
pronouns: He/Him
role: Director, Accessibility
tags: Accessibility Article Development
title: "Accessible HTML5 Video with Captions and Transcript"
---

<p>Here is an example of how to set up HTML5 video that can be enjoyed by everybody! Want to be truly inclusive? Make accessibility a priority by having your captions present by default. In addition to captions, transcripts are also strongly suggested. The transcript should live near the video for easy access.</p>

{% include_relative code-accessible-html5-video.html %}

<h2>Code</h2>

{% highlight html%}{% include_relative code-accessible-html5-video.html %}{% endhighlight %}
