---
author: Michael Spellacy (Spell)
date: "2021-08-05 00:48:34"
disclosure: true
email: michael.spellacy@radancy.com
img: https://www.gravatar.com/avatar/89e429d4a3effa9601cd19a851c0003e.jpg
localcss: /media/2021-08-05-accessible-html5-video/init.css
layout: micropubpost
pronouns: He/Him
role: Director, Accessibility
tags: Accessibility Article Development
title: "Accessible HTML5 Video with Captions and Transcript"
update: 2026-06-14 14:00:00
---

<p>Here is an example of how to set up HTML5 video that can be enjoyed by everybody! Want to be truly inclusive? Make accessibility a priority by having captioning present <em>by default</em>. In addition to captioning, transcripts are also strongly recommended. The transcript should live near the video for easy access. If you require captions and transcripts, head on over to <a href="https://tmpww.sharepoint.com/sites/delivery/SitePages/Creating-Accessible-Multimedia.aspx">our intranet</a> for more information.</p>

<section aria-labelledby="hdr-a11y-transcripts" class="info info--a11y" id="are-transcripts-necessary">

	<h2 class="info__heading" id="hdr-a11y-transcripts">Are Transcripts Necessary? {% include permalink.html hash="are-transcripts-necessary" %}</h2>

    <p>Yes! Providing an alternative way to share information through a transcript is a great idea! Here are some reasons why you should include them:</p>

    <ol>
        <li>Captions may not be accessible to certain assistive technologies, like refreshable Braille displays or screen readers.</li>
        <li>Captions may move too quickly or be distracting for some users.</li>
        <li>Transcripts allow people to search and scan content more easily.</li>
        <li>Transcripts can include additional details, semantic markup and hyperlinks, that wouldn't be possible or appropriate in captions.</li>
        <li>Besides enhancing accessibility, search engines may benefit from the extra information, helping them better understand and index your content.</li>
    </ol>

    <p>Source: <a href="https://meryl.net/captioning-videos-faq/">Captioning Videos FAQ</a></p>

</section>

<h2 id="example">Example {% include permalink.html hash="example" %}</h2>

<video aria-label="The Empire Strikes Back: Trailer A" controls poster="{{ site.url }}{{ site.baseurl }}/media/2021-08-05-accessible-html5-video/example.png" preload="metadata">
    <source src="{{ site.url }}{{ site.baseurl }}/media/2021-08-05-accessible-html5-video/example.mp4" type="video/mp4">
    <track default label="English" kind="captions" src="{{ site.url }}{{ site.baseurl }}/media/2021-08-05-accessible-html5-video/example.vtt" srclang="en">
</video>

<details>

    <summary>Transcript</summary>

    <div>

        <p><strong>Narrator (Harrison Ford):</strong> Luke Skywalker and Han Solo rescue the princess, destroy the Death Star, but their story didn't end there.</p>

        <p>Now, the creators of the biggest smash hit of all time, bring you the next episode in the "Star Wars" saga, "The Empire Strikes Back."</p>

        <p>The continuing story of our band of heroes. Luke Skywalker, Princess Leia, Han Solo, C3PO, R2D2 and Chewbacca and introducing Lando Calrissian.</p>

        <p>It's an epic of romance. Of heroes and villains. They cross trackless voids to unknown worlds.</p>

        <p>A galactic odyssey against oppression.</p>

        <p>A big new sprawling space adventure in the "Star Wars" saga, "<a href="https://www.imdb.com/title/tt0080684/">The Empire Strikes Back</a>."</p>

        <p>Coming to your galaxy <strong>next summer</strong>.</p>

    </div>

</details>
