/*!

  HTML5 Video Example

  Contributor(s):
  Michael "Spell" Spellacy

  sass --watch init.scss:../../media/2021-08-05-accessible-html5-video/init.css --style compressed

*/

@layer videoExample {

    .video {
    grid-template-columns: 40% auto;
    gap: 2em;

        @media (min-width: 60em) {

            display: grid;

        }

        video {
        border-radius: 1em;
        }

        &__transcript {

            &-toggle {
            text-decoration: none;
            }

            &-content {
            background-color: #eee;
            border: 1px #ccc solid;
            margin-top: 1em;
            padding: 1em;
            }

        }

        &__content {

            p {
            margin-top: 0;
            }

        }

    }

}