/*!

  Radancy Smoke Test Extension

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

@import url("https://radancy.dev/css/init.css");
@import url("https://radancy.dev/pattern-library/disclosure/init.css");

a, button {

  &.new-tab {
  word-wrap: break-word;

    .disclosure--content & {
    white-space: nowrap;
    }

    &::after {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("img/new-tab.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    vertical-align: middle;
    margin-left: 5px;
    }

  }

}

figure {
margin: 1em 0;
}

figcaption {
color: #666;
margin: 1em 0 0;
font-size: .85em
}

.heading-small {
color: rebeccapurple;
text-indent: 52px;
margin: 0 0 2em;
font-size: .8em;
padding: 0;
}

h2 {
font-size: 1.1em;
}

main {
font-size: .9em;
}

ul {

  button {
  background-color: transparent;
  border: 0;
  display: inline-block;
  padding: 0;
  font-size: inherit;
  text-decoration: underline;
  color: blue;
  outline: 0;

    &[disabled] {
    text-decoration: none;
    color: #000;
      &::after {
      content: "✔️";
      }

    }

  }

}

form {
margin: 0 0 1em;

  fieldset {
  border: 0;
  padding: 0;
    margin: 0;

    legend, label {
    font-weight: bold;
    }

    legend {
    margin: 0;
    padding: 0;
    }

    label, input {
    display: block;
    }

    input {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 45px;
    padding: 0;
    }

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 0;
}

    .btn, input {
    width: 100%;
    min-width: 0;
    }

    .form-fields {
    display: flex;
    flex-wrap: wrap;
        align-items: flex-end;

      div {
        flex-grow: 1;
  flex-basis: 25%;
  padding: 0 5px 5px 0;

      }

    }

  }

}

.btn {
background-position: center;
background-repeat: no-repeat;
background-size: 20px;
display: inline-block;
min-width: 265px;
}

.extension-active {
min-width: 600px;
}

.reset {
background-image: url("img/btn-reset.png");
height: 40px;
min-width: 0;
padding: 0;
position: absolute;
right: 1.3em;
top: 18px;
width: 40px;
}

.disclosure--btn {
margin: 4px 0;
outline: 0;
}

.disclosure--icon {
float: right;
}

.disclosure--content {
padding: 0 1em;
border: 1px #cccccc solid;
}

#outline {

  #content {
  max-width: none;
  font-size: .9em;

    h2 {
    display: none;
    }

    .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    color: #000;
    }

    .headinglevel, .missingheadinglevel {
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: .5em;
    line-height: normal;
    margin-right: .5em;
    }

    .headinglevel {
    background-color: darkgreen;
    }

    .missingheadinglevel {
    background-color: #d20000;
    }

    .h2 {
    margin-left: 2em;
    }

    .h3 {
    margin-left: 4em;
    }

    .h4 {
    margin-left: 6em;
    }

    .h5 {
    margin-left: 8em;
    }

    .h6 {
    margin-left: 10em;
    }


  }

}
