
.extension-active {
min-width: 600px;
}

h1 {
margin: 0 0 .5em;
}

ul, ol {
list-style: none;
padding: 0;
margin-top: 0;
}

ol li {
display: inline-block;
margin: 0 1em 1em 0;
}

.btn {
min-width: 265px;
display: inline-block;
background-position: center;
background-repeat: no-repeat;
background-size: 20px;
}

.reset {
position: absolute;
top: 1em;
right: 1em;
min-width: 0;
width: 40px;
height: 40px;
padding: 0;
background-image: url("img/btn-reset.png");
}
