/*!

  Radancy: Smoke Test Extension - Extension Styles

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css page.scss:page.css --style compressed

*/

@import url("https://radancy.dev/css/init.css");
@import url("https://radancy.dev/pattern-library/disclosure/init.css");

a, button {

  &.new-tab {
  word-wrap: break-word;

    .disclosure--content & {
    align-items: center;
    display: inline-flex;
    }

    &::after {
    background-image: url("img/new-tab.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    content: "";
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    vertical-align: middle;
    width: 16px;
    }

  }

}

figure {
margin: 1em 0;

  figcaption {
  color: #333;
  font-size: .85em;
  margin: 1em 0 0;
  }

}

footer {
font-size: .9em;
margin-top: 2em;

  ul {
  padding-left: 0;
  }

  li {
  display: inline-block;
  margin-right: 1em;
  }

}

form {
margin: 0 0 1em;

  fieldset {
  border: 0;
  margin: 0;
  padding: 0;

    legend, label {
    font-weight: bold;
    }

    legend {
    margin: 0;
    padding: 0;
    }

    label, input {
    display: block;
    }

    input {
    background-color: transparent;
    border: 1px #ccc solid;
    cursor: pointer;
    height: 45px;
    padding: 0;
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    }

    input[type="color"]::-webkit-color-swatch {
    border: 0;
    }

    .btn, input {
    min-width: 0;
    width: 100%;
    }

    .form-fields {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;

      div {
      flex-basis: 25%;
      flex-grow: 1;
      padding: 0 5px 5px 0;
      }

    }

  }

}

h2 {
font-size: 1.1em;
}

main {
font-size: .9em;
}

ul {

  button {
  background-color: transparent;
  border: 0;
  color: blue;
  display: inline-block;
  font-size: inherit;
  outline: 0;
  padding: 0;
  text-decoration: underline;

    &[disabled] {
    color: #000;
    text-decoration: none;

      &::after {
      background-image: none;
      content: "✔️";
      }

    }

  }

}

.btn {
background-position: center;
background-repeat: no-repeat;
background-size: 20px;
display: inline-block;
min-width: 265px;
}

.disclosure--btn {
margin: 4px 0;
}

.disclosure--icon {
float: right;
}

.disclosure--content {
border: 1px #cccccc solid;
padding: 0 1em;
}

.extension-active {
min-width: 600px;
}

.heading-small {
color: rebeccapurple;
font-size: .8em;
margin: 0 0 2em;
padding: 0;
text-indent: 52px;
}

.reset {
background-image: url("img/btn-reset.png");
border-radius: 5px;
height: 40px;
min-width: 0;
padding: 0;
position: fixed;
right: 1.4em;
top: 22px;
width: 40px;
}

#outline, #thanks {

  #content {
  font-size: .9em;
  max-width: none;
  }

}

#outline {

  #content {

    #inner-content {
    margin-top: 2em;
    }

    .loading {
    color: rebeccapurple;
    }

    h2 {
    display: none;
    }

    .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000;
    font-weight: bold;
    }

    .headinglevel, .missingheadinglevel {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    line-height: normal;
    margin-right: .5em;
    padding: .5em;
    }

    .headinglevel {
    background-color: darkgreen;
    }

    .missingheadinglevel {
    background-color: #d20000;
    }

    .h2 {
    margin-left: 2em;
    }

    .h3 {
    margin-left: 4em;
    }

    .h4 {
    margin-left: 6em;
    }

    .h5 {
    margin-left: 8em;
    }

    .h6 {
    margin-left: 10em;
    }

  }

}
