.a11y-smoketest-textspace * {
line-height:1.5 !important;
letter-spacing: 0.12em !important;
word-spacing: 0.16em !important;
}

.a11y-smoketest-textspace p {
margin-bottom: 2em !important;
}

body[data-color-blindness="grayscale"] {
filter: grayscale(100%) !important;
-webkit-filter: grayscale(1) !important;
}

body[data-color-blindness="achromatomaly"] {
filter: url("#achromatomaly");
}

body[data-color-blindness="achromatopsia"] {
filter: url("#achromatopsia");
}

body[data-color-blindness="deuteranomaly"] {
filter: url("#deuteranomaly");
}

body[data-color-blindness="deuteranopia"] {
filter: url("#deuteranopia");
}

body[data-color-blindness="protanomaly"] {
filter: url("#protanomaly");
}

body[data-color-blindness="protanopia"] {
filter: url("#protanopia");
}

body[data-color-blindness="tritanopia"] {
filter: url("#tritanopia");
}

body[data-color-blindness="tritanomaly"] {
filter: url("#tritanomaly");
}
