.a11y-smoketest-grayscale {
filter: grayscale(100%) !important;
-webkit-filter: grayscale(1) !important;
}

.a11y-smoketest-textspace * {
line-height:1.5 !important;
letter-spacing: 0.12em !important;
word-spacing: 0.16em !important;
}

.a11y-smoketest-textspace p {
margin-bottom: 2em !important;
}

.a11y-smoketest-protanopia {
filter: url("#protanopia");
}

.a11y-smoketest-protanomaly {
filter: url("#protanomaly");
}

.a11y-smoketest-deuteranopia {
filter: url("#deuteranopia");
}

.a11y-smoketest-deuteranomaly {
filter: url("#deuteranomaly");
}

.a11y-smoketest-tritanopia {
filter: url("#tritanopia");
}

.a11y-smoketest-tritanomaly {
filter: url("#tritanomaly");
}

.a11y-smoketest-achromatopsia {
filter: url("#achromatopsia");
}

.a11y-smoketest-achromatomaly {
filter: url("#achromatomaly");
}
