@keyframes bounce {

    0% {
    transform: translateY(0%) scaleY(0.6);
    }

    60% {
    transform: translateY(-100%) scaleY(1.1);
    }

    70% {
    transform: translateY(0%) scaleY(0.95) scaleX(1.05);
    }

    80% {
    transform: translateY(0%) scaleY(1.05) scaleX(1);
    }

    90% {
    transform: translateY(0%) scaleY(0.95) scaleX(1);
    }

    100% {
    transform: translateY(0%) scaleY(1) scaleX(1);
    }

}

.bounce {
animation-duration: 1.6s;
animation-name: bounce;
animation-timing-function: ease;
transform-origin: 50% 100%;
}