@keyframes flipOutY {

    0% {
    transform: perspective(400px);
    }

    30% {
    opacity: 1;
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    }

    100% {
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    }

}

.flipOutY {
animation-duration: 0.75s;
animation-name: flipOutY;
backface-visibility: visible;
}