@keyframes rotateInUpRight {

    0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -90deg);
    transform-origin: right bottom;
    }

    100% {
    opacity: 1;
    transform: none;
    transform-origin: right bottom;
    }

}

.rotateInUpRight {
animation-duration: 0.75s;
animation-name: rotateInUpRight;
}