@keyframes rotateOutUpRight {

    0% {
    opacity: 1;
    transform-origin: right bottom;
    }

    100% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, 90deg);
    transform-origin: right bottom;
    }

}

.rotateOutUpRight {
animation-duration: 0.75s;
animation-name: rotateOutUpRight;
}