@keyframes slideLeft {

    0% {
    transform: translateX(150%);
    }

    50% {
    transform: translateX(-8%);
    }

    65% {
    transform: translateX(4%);
    }

    80% {
    transform: translateX(-4%);
    }

    95% {
    transform: translateX(2%);
    }

    100% {
    transform: translateX(0%);
    }

}

.slideLeft {
animation-duration: 1s;
animation-name: slideLeft;
animation-timing-function: ease-in-out;
}