@keyframes stretchLeft {

    0% {
    transform: scaleX(0.3);
    }

    40% {
    transform: scaleX(1.02);
    }

    60% {
    transform: scaleX(0.98);
    }

    80% {
    transform: scaleX(1.01);
    }

    100% {
    transform: scaleX(0.98);
    }

    80% {
    transform: scaleX(1.01);
    }

    100% {
    transform: scaleX(1);
    }

}

.stretchLeft {
animation-duration: 1.5s;
animation-name: stretchLeft;
animation-timing-function: ease-out;
transform-origin: 100% 0%;
}