@keyframes stretchRight {

    0% {
    transform: scaleX(0.3);
    }

    40% {
    transform: scaleX(1.02);
    }

    60% {
    transform: scaleX(0.98);
    }

    80% {
    transform: scaleX(1.01);
    }

    100% {
    transform: scaleX(0.98);
    }

    80% {
    transform: scaleX(1.01);
    }

    100% {
    transform: scaleX(1);
    }

}

.stretchRight {
animation-duration: 1.5s;
animation-name: stretchRight;
animation-timing-function: ease-out;
transform-origin: 0% 0%;
}