
// Theme(s) used on various pattern library examples

body {
font: 100%/1.6 "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
margin: 0;
overflow-x: hidden;
-webkit-font-smoothing: antialiased;
}

a {
color: #000;
}

a.external {
background:url(data:image/gif;base64,R0lGODlhCgAKAJECAP///5mZmQAAAAAAACH5BAEAAAIALAAAAAAKAAoAAAIalIMZJgH/1gGJqugQpFzH7TlWJVJMGZ0KwhQAOw==) center right no-repeat;
padding-right:14px;

  &:focus, &:hover {
  background:url(data:image/gif;base64,R0lGODlhCgAKAJECAP///2eIpAAAAAAAACH5BAEAAAIALAAAAAAKAAoAAAIalIMZJgH/1gGJqugQpFzH7TlWJVJMGZ0KwhQAOw==) center right no-repeat;
  }

}

body {

  &.pattern-message {

    &:before {
    background-color: #0895d3;
    background-image: linear-gradient(130deg, #0895d3 0%,#0895d3 21%,#2573ba 68%,#2573ba 100%);
    color: #fff;
    display: block;
    left: 0;
    padding: 1em;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
    }

  }

  &#success-profile {

    &.pattern-message {
    margin: 75em 1em 1em;

      &:before {
      content: "To view this pattern's functionality, please scroll down.";
      }

    }

  }

}

#pattern-helper {
background-image: linear-gradient(130deg, #263343 0%,#263343 21%,#151d27 68%,#151d27 100%);
border-radius: 5px;
clear: both;
color: #fff;
margin: 1em;
padding: 1em;

  a {
  color: inherit;
  }

  h2 {
  margin: 0;
  }

  ul {
  list-style: none;
  margin: 0.8em;
  padding: 0;
  }

  li {
  margin-bottom: 0.8em
  }

}
