
/*!

  Radancy Accessibility Baselines

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

$highlight-color: #40E8D4;

.section {
border-radius: 10px;
border: 1px transparent solid;
padding: 0 1em;
  &:target {
  background-color: #eee;
  border: 1px #000 solid;
  color: #000;
  transition: all 300ms 1.2s ease-in-out;
  }


}

.table-container {
margin-bottom: 2em;
overflow-X: auto;

  table {

    caption {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1em;
    }

    tr {

      &:focus-within, &:hover {

        td {
        background-color: $highlight-color;
        color: #000;
          a {
          color: inherit;
            /* &::after {
            filter: brightness(1000%);
          } */

          }



        }

      }

    }

    th, td {
    border: 1px darkblue solid;
    padding: .8em;
    }

    th {
    background-color: $highlight-color;
    color: #000;
    text-align: center;
    }

    td {

      &:nth-child(1) {
      font-weight: bold;
      }

      &:nth-child(2) {
      text-align: center;
      }

      &:nth-child(4) {
      white-space: nowrap;
      }

      &:nth-child(even) {
      background-color: #eee;
      }

    }

    a {
    color: #000;
    text-decoration: underline;
      &[target="_blank"]::after {
      background-color: transparent;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAclBMVEUAAAAWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmGEDiaiAAAAJXRSTlMAgMjOaRL0vvZfDrOkt26hhvrCjHXb2NKrmXlkW0QzJQhMLCQc4w6HOwAAAONJREFUOMvNkFkWgyAMRR9VpNXiVDvP0/63WGpEOETtb+8HJ/AuRgJOuoxUR12fwYnfHmtwhC9EAJ7H46LnlJ/vvjADVlR5R00pDnlid4t3gMKXvLKCCoUahqX73tasVeKY6z5PWmFm1jKVqUVKoGhzEfdCAw+bazhBwOL6Z0A5LBRdTgNYk8Dv25nvSAhzTZuTaG4k8PtS60xdAJDAcshvcQiFvesv56aKA+Fl+48Jt4zuDwqENs+aFHDFDwH/K8TgJPY8MoUSjLIy5zkJo5BQTAjt2B7j+Qotl/1mG3E2in79A5rTPUZPwwJQAAAAAElFTkSuQmCC);
      background-position: center right;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: inline-block;
      height: 10px;
      margin-left: 8px;
      width: 10px;
      }


    }

  }

}
