/* Style Guide */

@import "colors", "fonts";

.color-palette {
font-size: px(15);
line-height: 1.5;
list-style: none;
margin: 0;
padding: 0;

	li {
	border: 1px #ccc solid;
	border-radius: 5px;
	display: inline-block;
	margin: .8em .5em 0 0;
	padding: 1.2em;
	transition: all .3s ease-in-out;
	width: 100%;

		@media(min-width: mq(650)) {

			width: 48%;

		}

		@media(min-width: mq(1000)) {

			width: 32%;

		}

		&:hover {
		box-shadow: -2px 3px 8px 0 rgba(0,0,0,.5);
		transform: scale(1.1);
		}

	}

}