
/* TODO: Get Sass in */

.btn-close-nyan {
position: fixed;
top: 80%;
right: 115px;
z-index: 10000;
}

.highlight-page-type #page-list td, .highlight-page-type #page-list td a {
color: #fff;
}

.highlight-page-type #page-list [data-page-type="content"] td,
.highlight-page-type #page-list [data-page-type="content"] td a,
.highlight-page-type #page-list [data-page-type="candidatecard"] td,
.highlight-page-type #page-list [data-page-type="candidatecard"] td a,
.highlight-page-type #page-list [data-page-type="jobalertverify"] td,
.highlight-page-type #page-list [data-page-type="jobalertverify"] td a,
.highlight-page-type #page-list [data-page-type="maintenance"] td,
.highlight-page-type #page-list [data-page-type="maintenance"] td a {
color: #000;
}

.highlight-page-type #page-list [data-page-type="error"] {
background-color: #C03730;
}

.highlight-page-type #page-list [data-page-type="home"] {
background-color: #C52C53;
}

.highlight-page-type #page-list [data-page-type="search"] {
background-color: #CB2883;
}

.highlight-page-type #page-list [data-page-type="location"] {
background-color: #B820D7;
}

.highlight-page-type #page-list [data-page-type="job"] {
background-color: #B820D7;
}

.highlight-page-type #page-list [data-page-type="jobmatching"] {
background-color: #811BDC;
}

.highlight-page-type #page-list [data-page-type="jobalertmanagement"] {
background-color: #4416E2;
}

.highlight-page-type #page-list [data-page-type="workwithme"] {
background-color: #1122E8;
}

.highlight-page-type #page-list [data-page-type="unsubscribe"] {
background-color: #0B62EE;
}

.highlight-page-type #page-list [data-page-type="sitemap"] {
background-color: #06A9F4;
}

.highlight-page-type #page-list [data-page-type="jobalertverify"] {
background-color: #00F8F9;
}

.highlight-page-type #page-list [data-page-type="content"] {
background-color: #06F4AF;
}

.highlight-page-type #page-list [data-page-type="maintenance"] {
background-color: #ACD720;
}

.highlight-page-type #page-list [data-page-type="preview"] {
background-color: #CB9128;
}

.highlight-page-type #page-list [data-page-type="candidatecard"] {
background-color: #ACD720;
}

.highlight-page-type #page-list [data-page-type="workwithmecandidate"] {
background-color: #73C680;
}
