/* avast, matey, acquire ye compass */
@import "compass/css3";
@import "compass/support";
@import "breakpoint";

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

@function pem($pixels) {
	@return #{$pixels/16.0}em
}
$breakFour: 350px;
$breakSix: 600px;
$breakNine: 900px;
$imgShadow: 2px 2px 5px rgba(0,0,0,.3);

/* =================================================================
animations
================================================================= */
@keyframes batman
{
	from {
		width: 0;
		height: 0;
		margin-left: 0;
		margin-top: 0;
	}
	to {
		width: 900px;
		height: 900px;
		margin-left: -450px;
		margin-top: -450px;
	}
}

@-webkit-keyframes batman /* Safari and Chrome */
{
	from {
		width: 0;
		height: 0;
		margin-left: 0;
		margin-top: 0;
	}
	to {
		width: 900px;
		height: 900px;
		margin-left: -450px;
		margin-top: -450px;
	}
}
#html5 {
	width: 0;
	height: 0;
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 9999;
}

.batmobile {
	animation: batman 500ms linear 2 alternate;
	-webkit-animation: batman 500ms linear 2 alternate;
}

/* =================================================================
style reset - https://github.com/necolas/normalize.css 
================================================================= */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

a:active, a:focus, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
[hidden] { display: none; }
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
img { border: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }
ul, ol, li { margin: 0; padding: 0; }

/* =================================================================
base structure
================================================================= */
body {
	background: #f9f9f9;
	color: #444;
	font: 1em 'Roboto Slab', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.right, .left {
	box-shadow: $imgShadow;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin-bottom: 1em;
	width: 100%;
	@include breakpoint($breakSix) {
		float: right;
		margin: 0 0 1em 2em;
		padding: 0;
		width: 50%;
	}
}
.right {
	@include breakpoint($breakSix) {
		float: right;
		margin: 0 0 1em 2em;
	}
}
.left {
	@include breakpoint($breakSix) {
		float: left;
		margin: 0 2em 1em 0;
	}
}
.half {
	margin: 0 auto;
	padding: 0;
	@include breakpoint ($breakSix) {
		max-width: 800px;
		width: 100%;
	}
}
.sidebyside {
	list-style: none;
	margin: 2em auto 0;
	@include breakpoint($breakSix) {
		display: table;
	}
	li {
		margin-bottom: 1em;
		@include breakpoint($breakSix) {
			display: table-cell;
			vertical-align: top;
			&:first-child img{
				left: -2.5%;
			}
			&:last-child img{
				right: -2.5%;
			}
		}
		img {
			box-shadow: $imgShadow;
			margin: auto;
			position: relative;
			width: 100%;
		}
	}
	&.images li:first-child img {
		max-width: 240px;
	}
	&.links li:first-child img {
		max-width: 350px;
	}
	&.forms li:last-child img {
		max-width: 270px;
	}
	&.in-text {
		margin: 1.5em 0;
	}
}
.single {
	display: block;
	margin: 2em auto 0;
	max-width: 700px;
	width: 100%;
	img {
		box-shadow: $imgShadow;
		width: 100%;
		height: auto;
	}
}
h1 {
	font-size: 2em;
	margin: .75em 0;
	text-align: center;
	text-shadow: -1px -1px 0px #000, 1px 1px 0px #fff;
	word-wrap: break-word;
	@include transition(all 200ms linear);
	@include breakpoint($breakFour) {
		font-size: 4em;
	}
	@include breakpoint($breakSix) {
		font-size: 7em;
		margin: .5em 0;
		text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
	}
	@include breakpoint($breakNine) {
		font-size: 10em;
	}
	span {
		color: #666;
		display: block;
		font-size: .75em;
		@include breakpoint($breakFour) {
			font-size: .41em;
		}
		@include breakpoint($breakSix) {
			text-shadow: -1px -1px 1px #333, 1px 1px 1px #fff;
		}
	}
}
h2 {
	font-size: 1.5em;
	margin-bottom: .5em;
	@include breakpoint($breakSix) {
		font-size: 2em;
	}
}
h3 {
	font-size: 1.2em;
	margin: 1em 0 0;
}
p {
	margin-top: 0;
}
a {
	color: #999;
	&:hover {
		color: #444;
	}
}
.links-list {
	margin: -.5em 0 2em 1em;
	&.contribute {
		margin-top: 0;
	}
	li {
		margin-bottom: .25em;
	}
	ul {
		font-size: .83em;
		list-style: none;
		margin-bottom: 2em;
		li { margin: 0; }
	}
}

.text-list {
	margin: -1em 0 1em 1.333em;
}

img {
	border-radius: 3px;
	display: block;
	overflow: hidden;
}
	
/* =================================================================
slides
================================================================= */
article, .flex-viewport {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute !important;
	width: 100%;
}
section {
	height: 100%;
	position: relative;
	div {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		max-width: 1200px;
		margin: 0 auto;
		overflow: hidden;
		padding: 50px 20px 20px;
		width: 100%;
		@include transition(all 200ms linear);
		@include breakpoint($breakSix) {
			padding: 70px 50px 50px;
		}
		@include breakpoint($breakNine) {
			padding: 70px 100px 50px;
		}
	}
}
.flex-direction-nav {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	position: fixed;
	height: 50px;
	top: 0;
	width: 100%;
	z-index: 10;
background: #444444; /* Old browsers */
background: -moz-linear-gradient(top,  #444444 0%, #444444 24%, #4f4f4f 57%, #4f4f4f 63%, #4f4f4f 82%, #404040 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(24%,#444444), color-stop(57%,#4f4f4f), color-stop(63%,#4f4f4f), color-stop(82%,#4f4f4f), color-stop(100%,#404040)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #444444 0%,#444444 24%,#4f4f4f 57%,#4f4f4f 63%,#4f4f4f 82%,#404040 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #444444 0%,#444444 24%,#4f4f4f 57%,#4f4f4f 63%,#4f4f4f 82%,#404040 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #444444 0%,#444444 24%,#4f4f4f 57%,#4f4f4f 63%,#4f4f4f 82%,#404040 100%); /* IE10+ */
background: linear-gradient(to bottom,  #444444 0%,#444444 24%,#4f4f4f 57%,#4f4f4f 63%,#4f4f4f 82%,#404040 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#404040',GradientType=0 ); /* IE6-9 */
margin: 0;
list-style: none;
}
.flex-direction-nav a {
text-indent: -9999px;
overflow: hidden;
display: block;
width: 53px;
height: 40px;
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAABQCAYAAAC53z2ZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjc0NDZCRkFDQjcyMjExRTJBMDgwQTAxOTZBNzMxQTdDIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjc0NDZCRkFEQjcyMjExRTJBMDgwQTAxOTZBNzMxQTdDIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzQ0NkJGQUFCNzIyMTFFMkEwODBBMDE5NkE3MzFBN0MiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzQ0NkJGQUJCNzIyMTFFMkEwODBBMDE5NkE3MzFBN0MiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7kXOJfAAAGZElEQVR42tybaU4bSxSFL6ZDQpiaIcyEJoAAQ0ibGQLIzcw/2IG9A7KC5K2AtwOzAQQLAOwfKAGBwIBAQkJi+IcQkZnD6HdPPzuCBEwbjN3tK1lCwTI+XVVfnVt1YqIXKqvVKvJLohcur9f718v0En9IURQ5NjZ2URAEB0WghFB/YEdHx0BycrIjMzNTvLm52YqEqJCOVFdX19C7d+/G6uvrxf7+fmpoaCBDj1R3d7cjJyfHVltbSy0tLZSbm0tLS0vGFAUgvH79euz9+/fWxsZGampqoqKiIrq+vqaYmBjjiQIQ4uPjHSUlJXJzc7M63fLy8ohF0vHxMUWqhGcAQWYgOMvKysTPnz9TTU0NZWVlEROPIl3CEwXZ0tLSHNXV1er6+fjxI6WnpxNjnPRQQYtiwg0z4YYsFgu1tbVReXk58YiRyWQivZQQJBAcvGYGGNmENcRrid6+fRsxIDxUMRqBIDIQnEw1GXQD5Zh2KhAeKoBienraMzo66t7Y2NDXSIFwiYmJKhCwfrAP8X5Er169Cryr83TkaSkWFBRYwyno7Ows8EgBCCkpKcOVlZUi1s+nT59UIGgh3NXVFe3u7tL29jYdHh6GTdTOzs7DohgI3xgIX0G41tZWYmHEAjUDAW4ZG/DFxQWxBwybqJWVlfunX09PD4Bgq6urUx1CaWkp8RQMCgh4L0Y03PsWr/27onyEc0qSpDoEAKGwsJDevHmjO8JpAgWAwHgeY0xLAAKwDcsTFxdHRivBBwQrk2rMbDaLWD+yLBOvJ11YnieJ6uzstDHRHH4gVFVVUWpqqq4cQtCisrOzHTCjEATLk5SUZKj1c+8eye2Cwvj2YISiQdBvm7S/vy/zlBtjQZLRBbnd7v/PKHhNuY+Ojiy8YbopCuo3DdgteBgOFt79R6JGlL+40bOzb/sSVaJQ7MD/PT8/t/OPnqgRhWJrNMI2XuF15okaUSi2TW5u9oqMBpBHfRDbJ8/Pnz8V9FUMEluQn49RDvcDCW5mXV5eDns1FlPUy+93vrSCZ996MEC+8Be1a3kvGkR0vrpbU/cVtyIjTEbLY8OMjhetvCFE+cjoPjk5UQIBBC18OM8mni0Kxe29++DgQOEv7zIU0h8rNsEediAKr5+RqBH1e18QBFgre1SJ8pERABnUg7UKac/OABk/PT0FQLaiRhQqISHhdm9mSEP8pEK+AmeMunAUITOcguBAzgJnjYaYflpKkiQqLi6W2CQ7kbuIClG48EbOAnkL5C6QvzC8qPz8fFVYT0+PP3MxjBxG2PqplyicLeKM0Ww2q7cUTEyanZ219fb2StjrXC6Xx3Aj5ReG+2LcGzMwcJ5PZWVlVv4353MBEvEbANwb+++PMWI8cvL6+joAokxNTbkNNVJ/IJ6ys7PV+zBeWwiaiGlpaYu4njWsKBSCJRkZGepFOYQBJFlZWQ7kNgw3/e48YZNJvVdGggYAAUzm5uaGfACxawWIwHbFGc4vDjBwyYEAgrWFayWABHfNMzMzA5ubmxIDRHE6nY8KE/Ly8qx4KuGqgoICTbEfgAPOww+Q79+/AyCbPmEBASK0t7er9AlXQRAux7XcJSOAgjCkXxi3NuLq6irI+IXJ+GC3HcNPwIs5HM51A0EAg9YLPhziHBwcEAtCNIiWl5dpb2/vn4mJiW9w5X+NFKYe5q2eCw9CFEU1cYN1htGen5//yjarkH9t1zX9HnMgePgVFRWqMEzHHz9+2Pr6+mQm4x2AGOoKHsIwsz58+EBgAawVU1JmgdioZcON1O3CmgRFkcTBXsaipLW1NWdnZ+fg5OSky5jpD5+1QmYXzgPTkV8iA8TJDsRuWFF+gLBHJERfMS3xWlhYcBha1O3eDDkQno4eHsFBWlxc9EZD8V62iTwI9i3Dj5TvmAxnjQpPRY/hkP6A2xjhKWjBNa4h96k/C3kPhoVdt01ikOVBf4W8h+6bRI3rx/Pr1y8FcQjdt/NagYBcRyBB/pEa55cY5u8nB/s3GQjj3H7Y/YTTXSFfgZyF1kJ+I8Do6ePWA/kK5Cw0PgAAIahUW0REIV+BnIUGwlmQ2wjaE0ZCFPIVgf6rBICAnAbyGk9y8Dp0CC4WPYg4w5PbEj0JQh4D8YVntyQ6sjz2UAjSiygAYRA5jJB1xRF2CFtnZ2eDiCmEtNWP1Oj4eyBEx0P94f8JMAD4pIzeFSqa+AAAAABJRU5ErkJggg==) no-repeat;
opacity: .3;
position: absolute;
@include transition(all 200ms linear);
top: 3px;
&:hover { opacity: .9; }
&.flex-prev {
	left: 10px;
	background-position: left top;
}
&.flex-next {
	right: 10px;
	background-position: left bottom;
}
&.flex-disabled {
	opacity: 0;
}
}

/* =================================================================
mini-sites
================================================================= */
.mobile, .desktop {
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: $imgShadow;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	font: .83em Arial, Helvetica, sans-serif;
	height: 350px;
	margin: 1.25em 0;
	overflow: hidden;
	padding: 15px 0;
	position: relative;
	width: 100%;
	h3 {
		background: #000;
		color: #fff;
		font-weight: normal;
		font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
		margin: -15px 0 10px 0;
		padding: 5px;
	}
	img {
		display: block;
		max-width: 278px;
	}
	form {
		background: url(../img/search-wave.jpg) repeat-x bottom center;
		padding: 5px 10px;
		overflow: hidden;
		position: relative;
		@include transition(all 200ms linear);
		z-index: 2;
	}
	label {
		color: #666;
		margin-right: 5px;
	}
	#search {
		border: 1px solid #ccc;
		border-radius: 10px;
		padding: 3px 3px 3px 10px;
	}
	.article {
		margin: 0;
		padding: 15px 20px;
	}
}
.half:hover form, .half.active form {
	box-shadow: 0 0 8px 3px #c00;
}

.mobile {
	@include breakpoint($breakSix) {
		width: 33%;
	}
	img {
		margin: auto;
		width: 80%;
	}
	form {
		border-bottom: 1px solid #666;
	}
	label {
		display: block;
		padding-top: .25em;
		text-align: right;
	}
	#search {
		float: right;
		width: 65%;
	}
}
.desktop {
	@include breakpoint($breakSix) {
		margin-left: 3%;
		width: 64%;
	}
	img {
		float: left;
		margin: 0 0 6px 15px;
		width: 30%;
	}
	form {
		bottom: 0;
		font-size: .75em;
		position: absolute;
		text-align: right;
		width: 100%;
	}
	label {
		background: rgba(0, 0, 0, 0.6);
		border-radius: 10px 0 0 10px;
		color: #FFFFFF;
		margin-right: -11px;
		padding: 4px 12px 4px 7px;
	}
	#search {
		margin-right: 20px;
		width: 40%;
	}
	.article {
		border-top: 1px solid #666;
		clear: both;
		font-size: .75em;
	}
	h4 {
		color: #c00;
		font-size: 20em;
		font-weight: normal;
		left: 50%;
		line-height: 0;
		margin: 0 0 0 -0.3em;
		position: absolute;
		text-shadow: 1px 1px 3px #666;
		top: 50%;
		@include transition(all 200ms linear);
	}
}

#reset {
	position: absolute;
	z-index: 9998;
	display: block;
	width: 120px;
	text-align: center;
	font-size: 1.5em;
	color: #777;
	left: 50%;
	text-decoration: none;
	text-align: center;
	margin-left: -60px;
	top: 8px;
	@include transition(all 200ms linear);
	&:hover {
		color: #f9f9f9;
	}
	&.intro {
		opacity: 0;
	}
}

.ie8 section {
	clear: both;
	height: auto;
	div {
		overflow: visible;
		div { overflow: hidden; }
	}
}

/* =================================================================
phone transformer
================================================================= */
@keyframes iphone-sm {
  0%, 100% { left: 0; margin-left: 0px; top: 0;}
  40%, 52%, 55%, 67% { left: 50%; margin-left: -105px; top: 0px;}
  46% { left: 50%; margin-left: -105px; top: -25px; animation-timing-function: ease-in;}
  61% { left: 50%; margin-left: -105px; top: -35px; animation-timing-function: ease-in;}
}
@-webkit-keyframes iphone-sm {
  0%, 100% { left: 0; margin-left: 0px; top: 0;}
  40%, 52%, 55%, 67% { left: 50%; margin-left: -105px; top: 0px; }
  46% { left: 50%; margin-left: -105px; top: -25px; -webkit-animation-timing-function: ease-in;}
  61% { left: 50%; margin-left: -105px; top: -35px; -webkit-animation-timing-function: ease-in;}
}
@keyframes mega-sm {
  0%, 100% { right: 0; margin-right: 0px;}
  40%, 67%  { right: 50%; margin-right: -105px;}
}
@-webkit-keyframes mega-sm {
  0%, 100% { right: 0; margin-right: 0px;}
  40%, 67%  { right: 50%; margin-right: -105px;}
}

@keyframes iphone {
  0%, 100% { left: 0; margin-left: 0px; top: 0;}
  40%, 52%, 55%, 67% { left: 50%; margin-left: -158px; top: 0px; }
  46% { left: 50%; margin-left: -158px; top: -40px; animation-timing-function: ease-in;}
  61% { left: 50%; margin-left: -158px; top: -50px; animation-timing-function: ease-in;}
}
@-webkit-keyframes iphone {
  0%, 100% { left: 0; margin-left: 0px; top: 0;}
  40%, 52%, 55%, 67% { left: 50%; margin-left: -158px; top: 0px; }
  46% { left: 50%; margin-left: -158px; top: -40px; -webkit-animation-timing-function: linear;}
  61% { left: 50%; margin-left: -158px; top: -50px; -webkit-animation-timing-function: linear;}
}
@keyframes mega {
  0%, 100% { right: 0; margin-right: 0px;}
  40%, 67% { right: 50%; margin-right: -158px;}
}
@-webkit-keyframes mega {
  0%, 100% { right: 0; margin-right: 0px;}
  40%, 67% { right: 50%; margin-right: -158px;}
}

#device-animate {
	height: 200px;
	margin: 0 auto 1em;
	max-width: 500px;
	padding: 0;
	position: relative;
	width: 100%;
	&:hover, &.trigger-animation {
		#device-iphone {
			animation: 2.5s iphone-sm;
			-webkit-animation: 2.5s iphone-sm;
		}
		#device-mega {
			animation: 2.5s mega-sm;
			-webkit-animation: 2.5s mega-sm;
		}
	}
	@include breakpoint($breakSix) {
		height: 300px;
		margin-bottom: 2em;
		&:hover, &.trigger-animation {
			#device-iphone {
				animation: 2.5s iphone;
				-webkit-animation: 2.5s iphone;
			}
			#device-mega {
				animation: 2.5s mega;
				-webkit-animation: 2.5s mega;
			}
		}
	}
	img {
		display: block;
		height: 100%;
		position: absolute;
		width: auto;
		&#device-mega {
			right: 0;
		}
	}
}