<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
<head>
    <meta charset="{{ site.charset }}">
    <meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport">{% if page.noindex %}
    <meta content="noindex, nofollow" name="robots">{% endif %}
    <link href="{{ site.git-url }}/css/init.css" rel="stylesheet">{% if page.externalcss %}
    <link href="{{ page.externalcss }}" rel="stylesheet">{% endif %}{% if page.localcss %}
    <link href="{{ page.localcss }}" rel="stylesheet">{% endif %}
    <link href="{{ site.git-url }}/favicon.ico" rel="icon">
    <title>{{ page.title }} - {{ site.company-name }}</title>
</head>

<body id="rad-{{ page.path | replace:'.html',''|  replace:'.md','' | replace:'_','' | replace: '/', '-'}}"{% if page.section %} class="{{ page.section }}"{% endif %}>

  <main id="content">
    
    {{ content }}

  </main>

  <script src="{{ site.git-url }}/js/init.js"></script>{% if page.externaljs %}
  <script src="{{ page.externaljs }}"></script>{% endif %}{% if page.localjs %}
  <script src="{{ page.localjs }}"></script>{% endif %}

</body>
</html>
