<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
<head>
    <meta charset="{{ site.charset }}">
    <meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport">{% if page.noindex %}
    <meta content="noindex, nofollow" name="robots">{% endif %}
    <meta content="{{ site.theme-color }}" name="theme-color">
    <link href="{{ site.git-url }}/css/init.css" rel="stylesheet">{% if page.slick %}
    <link href="https://radancy.dev/lib/a11y-slick-1.0.1/slick.min.css" rel="stylesheet">{% endif %}{% if page.localcss %}
    <link href="{{ page.localcss }}" rel="stylesheet">{% endif %}
    <link href="{{ site.git-url }}/favicon.ico" rel="icon">
    <link href="{{ site.git-url }}/manifest.json" rel="manifest">
    <title>{{ page.title }} - {{ site.company-name }}</title>
</head>

<body id="rad-{{ page.path | replace:'.html',''|  replace:'.md','' | replace:'_','' | replace: '/', '-'}}"{% if page.section %} class="{{ page.section }}"{% endif %}>

  <div id="page">

    <header id="banner">

      <a href="/"><img src="{{ site.git-url }}/img/logo.svg" alt="{{ site.company-name }}"> <span>{{ site.name }}</span></a>

    </header>

    <main id="content">

      {% if page.title %}

      <h1 class="primary-heading">{{ page.title }}</h1>

      {% endif %}

      {% if page.warning %}

      <p class="alert"><strong>Warning:</strong> Circumventing limitations present within a pattern is strongly discouraged. If you run into any issues or require a new feature, please <a href="http://jira.tmp.com/browse/TCDQ-62785">add a comment</a> to already opened ticket. The Pattern Library Team (PLT) will not be responsible for any issues that are created due to workarounds during implementation.</p>

      {% endif %}

      {% if page.toc %}

      <details class="nav">

        <summary class="btn">Table of Contents</summary>

        {% include toc.html html=content h_max=4 ordered=true %}

      </details>

      {% endif %}

      {{ content }}

    </main>

    <aside id="contribute">

      <h2>Contribute</h2>

      <p>If you wish to contribute, <a href="https://guides.github.com/activities/forking/">fork</a> this <a href="{{ site.repo }}">project</a>, make some changes, and <a href="https://guides.github.com/activities/forking/#making-a-pull-request">create a pull request</a>.</p>

      <p>New to GitHub? <a href="https://guides.github.com/activities/hello-world/">Learn the basics with the guide</a> and <a href="https://guides.github.com/introduction/flow/">learn the GitHub flow</a>.</p>

      <h2>Quality Assurance</h2>

      <p>All patterns, layouts, and functionality are tested against our <a href="{{ site.company-url }}/support/">supported browsers</a>. We also look for accessibility issues via automated and manual testing tools and methods. Radancy is committed to the accessibility of its websites and products and strives to meet as much of WCAG 2.1 Level AA as possible. If you discover any problems with our work, please <a href="{{ site.repo }}/issues/">open up an issue</a> and let us know about it or contact <a href="mailto:{{ site.owner-email }}">{{ site.owner-name }}</a>.</p>

    </aside>

    <footer id="contentinfo">

      <p><small>&copy; {{ "now" | date: "%Y" }} {{ site.company-name }}. An equal opportunity employer.</small></p>

    </footer>

  </div>
  {% if page.jquery != false %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>{% endif %}{% if page.disclosure %}
  <script src="https://radancy.dev/pattern-library/disclosure/init.js"></script>{% endif %}{% if page.slick %}
  <script src="https://radancy.dev/lib/a11y-slick-1.0.1/slick.min.js"></script>{% endif %}
  <script src="{{ site.git-url }}/js/init.js"></script>{% if page.localjs %}
  <script src="{{ page.localjs }}"></script>{% endif %}

</body>
</html>
