/* Keyframe Animations */

@-webkit-keyframes branding-iron {

	0% {

		-moz-transform: rotate(-10deg) scale(9999);
		-ms-transform: rotate(-10deg) scale(9999);
		-webkit-transform: rotate(-10deg) scale(9999);
		transform: rotate(-10deg) scale(9999);

	}

	100% {

		-moz-transform: rotate(-10deg) scale(1);
		-ms-transform: rotate(-10deg) scale(1);
		-webkit-transform: rotate(-10deg) scale(1);
		transform: rotate(-10deg) scale(1);

	}

}

@-moz-keyframes branding-iron {

	0% {

		-moz-transform: rotate(-10deg) scale(9999);
		-ms-transform: rotate(-10deg) scale(9999);
		-webkit-transform: rotate(-10deg) scale(9999);
		transform: rotate(-10deg) scale(9999);

	}

	100% {

		-moz-transform: rotate(-10deg) scale(1);
		-ms-transform: rotate(-10deg) scale(1);
		-webkit-transform: rotate(-10deg) scale(1);
		transform: rotate(-10deg) scale(1);

	}

}

@-ms-keyframes branding-iron {

	0% {

		-moz-transform: rotate(-10deg) scale(9999);
		-ms-transform: rotate(-10deg) scale(9999);
		-webkit-transform: rotate(-10deg) scale(9999);
		transform: rotate(-10deg) scale(9999);

	}

	100% {

		-moz-transform: rotate(-10deg) scale(1);
		-ms-transform: rotate(-10deg) scale(1);
		-webkit-transform: rotate(-10deg) scale(1);
		transform: rotate(-10deg) scale(1);
	
	}

}

@keyframes branding-iron {

	0% {

		-moz-transform: rotate(-10deg) scale(9999);
		-ms-transform: rotate(-10deg) scale(9999);
		-webkit-transform: rotate(-10deg) scale(9999);
		transform: rotate(-10deg) scale(9999);

	}

	100% {

		-moz-transform: rotate(-10deg) scale(1);
		-ms-transform: rotate(-10deg) scale(1);
		-webkit-transform: rotate(-10deg) scale(1);
		transform: rotate(-10deg) scale(1);

	}

}