/* Custom CSS Reset - https://github.com/necolas/normalize.css */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { 
display: block; 
}

a:active, a:focus, a:hover { 
outline: 0; 
}

abbr[title] { 
border-bottom: 1px dotted; 
}

b, strong { 
font-weight: bold; 
}

button, html input[type="button"], input[type="reset"], input[type="submit"] { 
-webkit-appearance: button; 
cursor: pointer;
}

button, input, select, textarea {
font-family: inherit; 
font-size: 100%; 
margin: 0;
}

button, input {
line-height: normal;
}

button, select { 
text-transform: none; 
}

button[disabled], html input[disabled] { 
cursor: default; 
}

button::-moz-focus-inner, input::-moz-focus-inner { 
border: 0; padding: 0; 
}

[hidden] { 
display: none;
}

html { 
font-family: sans-serif; 
-webkit-text-size-adjust: 100%; 
-ms-text-size-adjust: 100%; 
-webkit-font-smoothing: antialiased;
}

img { 
border: 0; 
max-width: 100%;
}

input[type="search"] { 
-webkit-appearance: textfield; 
-moz-box-sizing: content-box; 
-webkit-box-sizing: content-box; 
box-sizing: content-box; 
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { 
-webkit-appearance: none; 
}

q {  
font-style: italic;

	&:before, &:after {

		display: inline-block;
		font-family: $secondary-font;
		padding-right: 5px;

	}

	&:before { 

		content: open-quote;

	}

	&:after { 

		content: end-quote; 

	}


}

small { 
font-size: 80%; 
}

sub, sup { 
font-size: 75%; 
line-height: 0; 
position: relative; 
vertical-align: baseline; 
}

sub { 
bottom: -0.25em; 
}

sup { 
top: -0.5em; 
}

textarea { 
overflow: auto; 
vertical-align: top; 
}

table { 
border-collapse: collapse; 
border-spacing: 0; 
}

ul, ol, li { 
margin: 0; 
padding: 0;
}
