// Global Variables 

// Common Breakpoints

$breaksix: 900px;

// Common Colors

$dkblue: #003366;

$mdblue: #335f86;

$ltorange: #E1874B;

$mdorange: #E16E1E;

$dkorange: #c8621b;

$yellow: #f5b300;

// Common Behaviors

$text-offscreen: -999em;