<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/uid/rwd-school-of-rock/css/init.css">
	<title>{{ page.title }} -  RWD School of Rock!</title>
</head>

<body id="{{page.url | replace:'.html',''| replace: '/', '-' | remove_first: '-'}}"{% if page.section %} class="{{ page.section }}"{% endif %}{% if page.scripts %} data-spy="scroll" data-target="#menu" data-scroll="50"{% endif %}>

	<main id="content">

		<article>

			{% if page.scripts == true %}

			<a id="skip-nav" href="#menu">Skip to Navigation</a>

			{% endif %}

			<h1><abbr>RWD</abbr> School<b>of Rock!</b></h1>

			{{ content }}

		</article>

		<a class="button button-big back-to-top" href="#top">Back to top</a>

	</main>

	<footer id="contentinfo">

		<ul>
			<li><a href="/uid/rwd-school-of-rock/">Home</a></li>
			<li><a href="/uid/rwd-school-of-rock/creative/">Creative</a></li>
			<li><a href="/uid/rwd-school-of-rock/qa/">Quality Assurance</a></li>
		</ul>

		<p>A collaborative training experience brought to you by <a href="mailto:stephanie.plumeri@tmp.com">Stephanie Plumeri</a> and <a href="mailto:michael.spellacy@tmp.com">Michael "Spell" Spellacy</a> for TMP Worldwide.</p>

		<p>Design by Stephanie Plumeri</p>

	</footer>

	{% if page.scripts == true %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/uid/rwd-school-of-rock/js/libs/misc/bootstrap-scrollspy.js"></script>
	<script src="/uid/rwd-school-of-rock/js/global.js"></script>

	{% endif %}

</body>
</html>
